@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-white-contrast: hsl(0, 0%, 85%);
    --clr-yellow: hsl(51, 100%, 85%);
    --clr-yellow-contrast: hsl(51, 100%, 75%);
    --clr-green: hsl(102, 45%, 74%);
    --clr-green-contrast: hsl(102, 45%, 64%);
    --clr-blue: hsl(190, 44%, 71%);
    --clr-blue-contrast: hsl(190, 44%, 61%);
    --clr-pink: hsl(300, 45%, 82%);
    --clr-pink-contrast: hsl(300, 45%, 72%);

    --clr-lightgray: #444444;
    --clr-darkGrey: #2b2b2b;
    --clr-darkerGrey: #0f0f0f;
    --clr-whiteTint: #ffffff11;

    --clr-success: #6bc838;
    --clr-failure: #d32f2f;
    --clr-info: #1ab1f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font */
    font-family: 'Gochi Hand', cursive;
    color: white;
    /* background */
    background-color: var(--clr-darkGrey);
    background-size: 30px 30px;
  background-image:
    linear-gradient(to right, var(--clr-whiteTint) 1px, transparent 1px),
    linear-gradient(to bottom, var(--clr-whiteTint) 1px, transparent 1px);
}


.h1 {
    text-align: center;
    margin-top: 1rem;
    user-select: none;
}

.cards-fixed {
    position: fixed;
    top: 3.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--clr-whiteTint); */
    z-index: 1;
}

/* ------- card  ------- */ 
.card {
    --clr-card: var(--clr-white);
    --clr-card-contrast: var(--clr-white-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: .25rem;
    background-color: var(--clr-card);
    height: max(12ch, fit-content);
    width: 32ch;
    color: black;
    box-shadow: 0 0 1rem #00000044;
    transition: 0.2s box-shadow, 0.2s scale, 0.2s opacity;
    @starting-style {
        scale: 0.5;
        opacity: 0;
    }
}

.card[data-deleted="true"] {
    scale: 0.5;
    opacity: 0;
}

.card[data-color="yellow"] {
    --clr-card: var(--clr-yellow);
    --clr-card-contrast: var(--clr-yellow-contrast);
}

.card[data-color="green"] {
    --clr-card: var(--clr-green);
    --clr-card-contrast: var(--clr-green-contrast);
}

.card[data-color="blue"] {
    --clr-card: var(--clr-blue);
    --clr-card-contrast: var(--clr-blue-contrast);
}

.card[data-color="pink"] {
    --clr-card: var(--clr-pink);
    --clr-card-contrast: var(--clr-pink-contrast);
}

.card__top {
    display: flex;
    justify-content: end;
    align-items: stretch;
    width: 100%;
    height: 1.75rem;
    background-color: var(--clr-card-contrast);
    border-radius: .25rem .25rem 0 0;
    cursor:grab;
    overflow: hidden;
    /* gradient - in testing */
    /* background-image: linear-gradient(to right, var(--clr-yellow), var(--clr-green), var(--clr-blue), var(--clr-pink)); */
}

.card__delete-btn, .card__copy-btn {
    display: flex;
    opacity: 0.6;
    top: .25rem;
    right: .75rem;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding-inline: .25rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;

    &:hover {
        background-color: #00000022;
    }
}


.card__delete-img {
    height: 1.25rem;
}

.card__copy-img {
    width: .9375rem;
}

/* text input area */
.card__content {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.125rem;
    margin: 1rem;
    width: 90%;
    background-color: transparent;
    border: none;
    resize: none;

    /* scrollbar */
    &::-webkit-scrollbar {
        width: .25rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #00000011;
        border-radius: .5rem;
    }

    &:focus {
        outline: none;
    }
}

/* card animations */
.card[data-dragging="true"] {
    scale: 1.05;
    box-shadow: 0 0 1rem black;

    .card__top {
        cursor: grabbing;
    }
}

/* card maker */
.card-maker {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    /* pos */
    position: fixed;
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
    z-index: 100;
    /* other */
    padding: 1rem .75rem;
    border-radius: 2rem;
    background-color: var(--clr-lightgray);
    margin-top: 1rem;
    box-shadow: 0 0 1rem #00000044;
}

.btn {
    height: 2rem;
    width:2rem;
    border-radius: 2rem;
    border: none;
    transition: background-color 0.2s ease-in-out, scale 0.2s ease-in-out;
    box-sizing: content-box;
    user-select: none;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.btn--new {
    font-size: 1.5rem;
    color: white;
    background-color: #ffffff66;

    &:hover {
        background-color: #ffffff77;
    }
}

.btn--yellow {
    background-color: var(--clr-yellow);
    &:hover {
        background-color: var(--clr-yellow-contrast);
    }
}

.btn--green {   
    background-color: var(--clr-green);
    &:hover {
        background-color: var(--clr-green-contrast);
    }
}

.btn--blue {
    background-color: var(--clr-blue);
    &:hover {
        background-color: var(--clr-blue-contrast);
    }
}

.btn--pink {
    background-color: var(--clr-pink);
    &:hover {
        background-color: var(--clr-pink-contrast);
    }
}

/* popup */

.popupcontainer {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 100;
    display: flex;
    gap: .75rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr-darkGrey);
    padding: 1rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem #00000044;
    border:2px solid white;
    font-size: 1rem;
    font-weight: 600;
    translate: -30% 0;
    opacity: 0;
    transition: translate 0.5s ease-in-out, opacity 0.5s ease-in-out;
    user-select: none;
}

.popup[data-visible="true"] {
    translate: 0 0;
    opacity: 1;
}

.popup[data-type="success"] {
    border-color: var(--clr-success);
}

.popup[data-type="failure"] {
    border-color: var(--clr-failure);
}

.popup[data-type="info"] {
    border-color: var(--clr-info);
}

.popup__img {
    height: 1.25rem;
}